.jumbotron {
    width: 80%;
    height: 225px;
    font-family: 'Times New Roman', serif;
    background: black;
    color: white;
    margin-left: 135px;
}

#mainhead {
    text-align: center;
    font-size: 72px;
}
#subhead {
    text-align: center;
    font-size: 36px;
}

.card {
    width: 80%;
    margin: auto;
}

.form-group {
    width: 80%;
    height: 200px;
    margin-left: 135px;
}

.form-control {
    padding-bottom: 15px;
}

.btn-primary {
    padding-top: 15px;
}
